body{
	background-color: rgb(137, 123, 125);
    width: 100%;
    text-shadow: 0em;
    font-family:Tahoma;
    font-weight: bold;
    
}
h1 {
    text-decoration: rgb(92, 68, 36);
    font-family:Verdana;
    
}
.hi{
    background-color: yellow;
}